h1,h2,h3,h4{
	color: #8C3313;
}

body{
	
	background-color: #E6A644;
	font-family: "Times New Roman";
}div.heading {
 height: 300px;
 width: 100%;
 background-color: #66CCFF;
 }
 
 div.info{height: 300px;
 width: 100%;
 background-color: #CCFFCC;}
 
 
div.foot{height: 300px;
 width: 100%;
 background-color: #0099CC;}
 
 
p,h1 {
 
 font-color: #003399;
 }
.images {float:right;}
.title {float:middle;}
.Iphonepic{margin:3% 30%;}